---
import ProfileCard from "../components/ProfileCard";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sohom829">
  <main>
    <div class="flex min-h-screen items-center justify-center">
		<ProfileCard client:visible />
	</div>
  </main>
</Layout>