---
import ProfileCard from '../components/ProfileCard';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sohom829">
  <main>
    <div>
      <img
        draggable="false"
        src="https://i.pinimg.com/originals/50/22/87/5022879690af0c36ce4132fc8ec343a0.jpg"
        alt="Background Image"
        class="absolute max-h-screen opacity-50 min-h-screen -z-10 object-cover min-w-full select-none"
      />
    </div>
    <div class="flex min-h-screen items-center justify-center">
      <ProfileCard client:visible />
    </div>
  </main>
</Layout>
