---
import { SEO } from 'astro-seo';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark bg-background text-foreground">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO
      client:load
      title="Sohom829"
      description="My name is Mohtasim Alam Sohom"
      twitter={{ creator: '@sohom_829' }}
      openGraph={{
        basic: {
          title: 'Sohom829',
          image: 'https://avatars.githubusercontent.com/u/94981761?v=4',
          type: 'Portfolio',
        },
      }}
    />
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
